new_recent:D:/Ubuntu/selfOwnedProjects/encryption-app/testdict.py,D:/Ubuntu/selfOwnedProjects/encryption-app/TkInterColorCharts.png,D:/Ubuntu/selfOwnedProjects/encryption-app/secret.key,D:/Ubuntu/selfOwnedProjects/encryption-app/guard.config,
old_recent:D:/Ubuntu/selfOwnedProjects/encryption-app/.gitignore|2,D:/Ubuntu/selfOwnedProjects/encryption-app/test.txt|2,D:/Ubuntu/selfOwnedProjects/encryption-app/test_input.txt|7,
color_theme:9